@font-face {
    font-family: Istok_Web;
    src:url(../typografie/Istok_Web/IstokWeb-Bold.ttf);
    src:url(../typografie/Istok_Web/IstokWeb-Regular.ttf);

}
body {
  
  height: 100vh;
  margin: 0;
  background-color: rgb(236, 229, 220);
  font-family: Istok_Web;
}
main{
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


h2{
color: #72179c;
text-align: center;

}
p{
color: #72179c;
margin-left: 20px;
margin-right: 20px;
text-align: center;
}
/*navigatie*/
a{
text-decoration: none;
color: #F4FFF3;
text-transform: uppercase;
font-size: 14px;
margin-right: 0; 
margin-left: 20px;
margin-top: 20px;

}


.navbar{
display: flex;
justify-content:space-between;
align-items: center; 
background-color: #6e069f;
padding-bottom: 12px;

}

canvas {
    display: block;
    margin: 0 auto; 
    border: 2px solid #ccc;
    background-color: white;
    width: 30%; /* Neem 90% van de beschikbare breedte in op kleinere schermen */
    height: auto; /* Behoud de aspect ratio */
    max-width: 340px; /* Maximaal 640px breedte voor het canvas */
}

@media (max-width: 768px) {
    canvas {
        width: 80%; /* Neem 80% van de beschikbare breedte in op kleinere schermen */
        max-width: 480px; /* Maximaal 480px breedte voor het canvas op kleinere schermen */
    }
}

@media (min-width: 769px) {
    canvas {
        width: 50%; /* Neem 50% van de beschikbare breedte in op grotere schermen */
        max-width: 800px; /* Maximaal 800px breedte voor het canvas op grotere schermen */
    }
}
