@font-face {
  font-family: Istok_Web;
  src:url(../typografie/Istok_Web/IstokWeb-Bold.ttf);
  src:url(../typografie/Istok_Web/IstokWeb-Regular.ttf);

}

body {
    
    height: 100vh;
    margin: 0;
    background-color: rgb(236, 229, 220);
    color:  #6e069f;
    font-family: Istok_Web;
   
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  button {
      margin: 10px;
  }
  .header{
    text-align: center;
    font-size: 53px;
    
  }
   #question{
     text-align: center;
     font-size: 33px;
     margin-bottom: 30px;
   }
  #answerButton, #nextButton, #replayButton{
    display: block;
    margin: 0 50px;
    width: 200px;
    height: 50px;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #a58bbf;
    color: white;
    border: 2px solid #6e069f;
  } 

  #answerButton:hover{
    background-color:  #6e069f;

    border: 2px solid #a58bbf;
  }

  #nextButton:hover{
    background-color:  #6e069f;
    border: 2px solid #a58bbf;
  }

  #replayButton:hover{
    background-color:  #6e069f;
    border: 2px solid #a58bbf;
  }
  #result{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    
  }
  #speakQuestionButton{
    margin-bottom: 30px;
    border: none;
    display: block;
    width: 200px;
    height: 50px;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #a58bbf;
    color: white;
    border: 2px solid  #6e069f;


  }

  #speakQuestionButton:hover{
    background-color:  #6e069f;
    border: 2px solid #a58bbf;
  }

  #nextButton{
    margin-top: 20px;
  }

  #finishMessage{
    margin-bottom: 10px;
    
  }

  /*navigatie*/
a{
  text-decoration: none;
  color: #F4FFF3;
  text-transform: uppercase;
  font-size: 14px;
  margin-right: 0; 
  margin-left: 20px;
  margin-top: 20px;
 
}


.navbar{
  display: flex;
  justify-content:space-between;
  align-items: center; 
  background-color: #6e069f;
  padding-bottom: 12px;

}

 
